.xc-play {
  background-image: url("images/jxapp/move/play.png") !important;
  background-size: contain;
}

.xc-pause {
  background-image: url("images/jxapp/move/pause.png") !important;
  background-size: contain;
}

.xc-stop {
  background-image: url("images/jxapp/move/stop.png") !important;
  background-size: contain;
}