/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$common-transparent: rgba(255, 255, 255, 0.0);
$common-color: rgb(255, 255, 255);
$common-head-color: rgb(33, 150, 243);
$font-family: '微软雅黑';

$common-theme-color: rgba(12, 40, 64, 1.0);
$baselayer-color: #3385FF;
$common-font-color: rgba(255, 255, 255, 1.0);
$sys-menu-bg-color: $common-theme-color;
$common-bg-color: #3385FF;

//鼠标手型
.handCls {
  cursor: pointer;
}

//----------------------去掉组件水印------start-------可根据需要自行增加---
.x-title-text-navigation:after {
  display: none !important;
}

.x-title-text-default:after {
  display: none !important;
}

//--------------------------------------end---------------------------

//-----------------------grid-actioncolumn--字体图标附加样式-------
.greenCls {
  font-size: 16px;
  color: #81cb31;
  margin: 0 5px 0 5px;
}

.redCls {
  font-size: 16px;
  color: #dd6550;
  margin: 0 5px 0 5px;
}

.yellowCls {
  font-size: 16px;
  color: #ffc839;
  margin: 0 5px 0 5px;
}

.blueCls {
  font-size: 16px;
  color: #29b6f6;
  margin: 0 5px 0 5px;
}

//-----common ui
@include extjs-panel-ui(
        $ui: 'common-panel-ui',
        $ui-header-background-color: rgba($common-head-color, 1),
        $ui-header-border-width: 1px,
        $ui-body-background-color: rgba($common-color, 1),
        $ui-border-radius: 0px,
        $ui-border-width: 1px 1px 1px 1px,
        $ui-header-color: #FFFFFF
);

@include extjs-button-small-ui(
        $ui: 'common-button-ui',
        $icon-size: 24px,
        $border-width: 0px,
        $inner-border-width: 0px 0px 0px 0px,
        $inner-border-color: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-over: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-focus: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-pressed: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-focus-over: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-focus-pressed: rgba($sys-menu-bg-color, 0.0),
        $inner-border-color-disabled: rgba($sys-menu-bg-color, 0.0),
        $background-color: rgba($common-bg-color, 0.7),
        $background-color-over: rgba($common-bg-color, 1.0),
        $background-color-focus: rgba($common-bg-color, 1.0),
        $background-color-pressed: rgba($common-bg-color, 1.0),
        $background-color-focus-over: rgba($common-bg-color, 1.0),
        $background-color-focus-pressed: rgba($common-bg-color, 1.0),
        $color: $common-font-color,
        $color-over: rgba($common-font-color, 1),
        $color-focus: rgba($common-font-color, 1),
        $color-pressed: rgba($common-font-color, 1),
        $color-focus-over: rgba($common-font-color, 1),
        $color-focus-pressed: rgba($common-font-color, 1)
);
