//地图
.mapIconCls {
  @extend .handCls;
  background-image: url("images/jxapp/map.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

//影像
.imgIconCls {
  @extend .handCls;
  background-image: url("images/jxapp/image.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@include extjs-panel-ui(
        $ui: 'layerswitcher-panel-ui',
        $ui-header-background-color: $common-transparent,
        $ui-header-border-width: 0px,
        $ui-body-background-color: $common-transparent,
        $ui-border-radius: 0px,
        $ui-border-width: 1px 1px 1px 1px
);

@include extjs-checkbox-ui(
        $ui: 'layercontroller-checkbox-ui',
        $ui-label-color: $common-color,
        $ui-label-font-weight :900
);